@model RepositoryDemo.Models.Employee

<h2>Add Employee</h2>

<form asp-action="Create" method="post">

    <label>Name</label>
    <input asp-for="Name" />
    <br /><br />

    <label>City</label>
    <input asp-for="City" />
    <br /><br />

    <label>Age</label>
    <input asp-for="Age" />
    <br /><br />

    <button type="submit">Save</button>

</form>