@model List<RepositoryDemo.Models.Employee>

<h2>Employees</h2>

<a href="/Employee/Create">Add Employee</a>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>City</th>
        <th>Age</th>
    </tr>

    @foreach (var emp in Model)
    {
        <tr>
            <td>@emp.Id</td>
            <td>@emp.Name</td>
            <td>@emp.City</td>
            <td>@emp.Age</td>
        </tr>
    }
</table>